# Visual Studio temporary files
.vs/
.vscode/

# Build results and compiled files
Debug/
Release/
x64/
x86/
build/
bin/
obj/

# Visual Studio user-specific files (settings that only apply to your PC)
*.user
*.suo
*.db
*.pdb
*.idb
*.ipch
*.opendb

# Executables (optional: remove this line if you want to upload the .exe)
*.exe